<div class="card mx-auto" style="width: 18rem; position: relative; top: 80px;">
  <img src="assets/images/Aakash.jpg" class="card-img-top" alt="Me">
  <div class="card-body">
    <h5 class="card-title">Akash Soni</h5>
    <p class="card-text">Bca Graduate With 9 CGPA From Amity University Jaipur</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Gmail: akashsoni211@gmail.com</li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/eakashsoni/">Linkedin</a></li>
    <li class="list-group-item"><a href="https://github.com/akashsoni211">Github</a></li>
  </ul>
</div>